// 基本色
$primary-color: #F6F6F3;
$secondary-color: #acae89;
$accent-color: #C96B79;
$accent-color-secondary: #49A398;
$accent-color-tertiary: #8cc8c9;
$dark-color: #354651;

// ホバーカラー
$hover-primary: #354651;

//ボーダーカラー
$border-primary: #c4c4c4;
$border-danger: #dc3545;

// SP
$breakpoint-sp: 767px;
// PC
$breakpoint-pc: 768px;
